* {
  box-sizing: border-box;
}

body {
  margin: 30px;
  
}

.elements {
  display: flex;
  height: 100vh;
}

.element {
  width: 50%;
  height: 100vh;
  padding: 15px;
}

textarea {
  display: block;
  width: 100%;
  font-family: arial, sans-serif;
  padding: 5px 10px;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: .25rem;
  height: 100vh;
}

code {
  padding: 2px 4px;
  font-size: .9em;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}